<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title">{{ item.title }}</h4>
    </div>

    <div class="modal-body">

        {{ item.content }}

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">{{ lang.close }}</button>
    </div>
</div>