<form action="https://www.paypal.com/cgi-bin/webscr" method="post"
      id="formButton">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="m.elsaeed@hotmail.com">
        <input type="hidden" name="item_name" value="Brightery Products">
        {#<input type="hidden" name="item_number" value="">#}
        <input type="hidden" name="amount" value="{{ total }}">
        {#<input type="hidden" name="shipping" value="1.00">#}
        {#<input type="hidden" name="shipping2" value="0.50">#}
        {#<input type="hidden" name="handling" value="2.00">#}
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="return" value="http://localhost/brighterycms/en/commerce_orders">
        <input type="hidden" name="undefined_quantity" value="1">
        <input type="hidden" name="lc" value="EG">
        {#<input type="image" src="http://www.paypalobjects.com/en_US/i/btn/x-click-but23.gif" border="0" name="submit" width="68" height="23" alt="Make payments with PayPal - it's fast, free and secure!">#}



    {#<input type="hidden" name="baseamt" value="50.00"/>#}
    {#<input type="hidden" name="basedes" value="1 Item"/>#}
    {#Enter Coupon code#}
    {#<input type="text" size="10" name="coupcode" />#}
    {#<input type="button" value="Check code" onclick="coupval =this.form.coupcode.value;  ChkCoup();"/>#}
    {#<input type="image" id="xx"#}
           {#src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_buynowCC_LG.gif" border="0"#}
           {#name="submit" onclick="CalculateOrder(this.form)" alt="PayPal - The safer, easier way to pay online!">#}
    {#<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">#}
</form>
<script>
    document.getElementById("formButton").submit();
</script>