<!-- single-page section 
                        ================================================== -->
<section class="single-page-section main-section-page">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="{{helper.uri.cdn('portfolio', item.image )}}" alt="">
            </div>
            <div class="col-md-5">
                <div class="project-content">
                    <div class="project-content-box">
                        <h2>{{item.title}}</h2>
                        <p>
                            {{item.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End single-page section -->
<style>
    .single-page-section{
        margin-top: 100px;
    }
</style>