<section class="category_page">
    <div class="container">
        <h2 class="main-product-block" style="margin-left: 0;">How It Works</h2>
        <ul class="how-working">
            <li><i class="fa fa-chevron-circle-right"></i> it work kza</li>
        </ul>
    </div>
</section>