<!-- about section 
   ================================================== -->
<section class="about-section main-section-page">
    <div class="container">
        <h2>{{ item.title }}</h2>
        <p>{{ item.content }}</p>               
    </div>
</section>
<!-- End about section -->
