

.profile {
    margin-top: 148px;
    margin-bottom: 30px;
}

a {
    color: rgb(119, 119, 119);
}

.active {
    color: rgb(119, 119, 119);
    font-weight: bold;
    border-right-color: #fff;
}

.user-info-list li i {
    margin-right: 15px;
}
tr {
    word-break: break-all;
}




