ul, ol {
    padding-left: 0;
}
li.error_message {
    list-style: none;
    line-height: 30px;
    background-color: #cc3f44;
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 3px;
    border-radius: 5px;
    padding: 0 10px;
}
li.error_message .fa-times-circle {
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
}
li.error_message .fa-times-circle:before {
    margin-right: 5px;
    font-family: fontawesome;
}
.faqs-answered {
    color: silver;
    font-weight: normal;
    font-size: 11px;
    margin: 10px 15px;
    display: block;
}
.single-faq {
    margin-bottom: 20px;
}
.single-faq h2 {
    text-transform: none !important;
}
.toshow_faq{
    cursor: pointer;  
}
p.show_faq {
    display: none;
}
.navbar-brand {
    width: 200px;
    padding: 10px;
}
.navbar-brand>img {
    width: 100%;
}
span.add-another-option-address,
span.add-another-option-phone {
    margin: 0px 0;
    display: block;
    cursor: pointer;
}
span.add-another-option-address:hover,
span.add-another-option-phone:hover{
    color:#ffab00;
}
.show-another-option,
.show-another-option-address{
    display: none;
}
#contact-form input[type="file"],
#contact-form input[type="password"],
#contact-form input[type="email"]
{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.2s ease-in-out;
    color: #666666;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff !important;
}
#contact-form input[type="password"]:focus,
#contact-form input[type="file"]:focus,
#contact-form input[type="email"]:focus{
    border: 1px solid #ffba00;
}
#contact-form label{
    display: block;
    color:#666;
    font-family: 'Montserrat', sans-serif;
}
input[type="radio"] {
    margin-bottom: 20px;
}
.registration-title {
    color: #222222;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
input.datepicker-registration{
    position:relative;
}
.calendar-registration {
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: #dedede;
    line-height: 40px;
    width: 30px;
    text-align: center;
    color:#666;
}

/*   start login home  */

.top-line p span i {
    font-size: 16px;
}
i.fa.fa-sort-asc.drop-login {
    font-size: 12px;
    position: absolute;
    left: 87px;
    top: 3px;
    color:#fff;
}

.login-home{
    cursor: pointer;
}
select.form-control {
    border: 1px solid #dedede;
    box-shadow: none;
    border-radius: 0;
    color: #666;
}
form .form-group-separator {
    height: 1px;
    background: #eee;
    margin-bottom: 15px;
}

input.form-control {
    border: 1px solid #dedede;
    border-radius: 0;
    box-shadow: none;
}
a.register-new-patient {
    line-height: 37px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100px;
}

input.submit.reservation-login-submit {
    width: 100px;
}
label.remember-me {
    color: #999 !important;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 14px;

}
a.forget-password {
    float: right;
    color: #999;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 13px;
}
a.forget-password:hover{
    color: #ffab00;

}

.form-group input:focus{
    border: 1px solid #ffba00;
    box-shadow: 0;
}
input.form-control {
    border-radius: 0;
    box-shadow: none  !important;
    font-size: 12px;
    font-weight: normal;
}
.login-box,
.login-box label,
.login-box h4{
    color:#666;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.header-user_image{
    width:30px;
    height:30px;
    display:inline-block;
    overflow: hidden;
}
.header-user_image img {
    width: 100%;
    border-radius: 50%;
    height:100%;
}
p.logout-user {
    padding-left: 40px;
    position: relative;
    margin-bottom: 0;
}
span.header-user_image {
    position: absolute;
    left: 0;
    top: -5px;
}
.logout-user a{
    color:#fff;
    text-decoration: none;
}
section.main-section-page {
    margin-top: 165px;
    margin-bottom: 20px;
}
.reseravtion-search-title {
    padding-left: 15px;
}
.reservation-search-form select{
    height: 39px;
    outline: 0;
    box-shadow: none;
}
.main-block input[type="text"]:focus{
    border: 1px solid #fab000;
}
.reservation-search-form select:focus{
    outline: 0;
    box-shadow: none;
    border:1px solid #fab000;
}
.doctors-results {
    margin-top: 25px;
}
.doctors-blocks {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 10px;
    float: left;
    width: 100%;
    margin-left: 0;
}
.doctor-details h2 {
    margin-top: 0;
    font-size: 18px;
    /*font-weight: bold;*/
    color:#333;
}
.reservation-details-title {
    font-weight: bold;
    font-size: 12px;
    color:#333;
}
span.reservation-details-content {
    font-size: 12px;
    color:#333;
}
.view-doctor-schedule {
    line-height: 30px;
    background-color: #fab000;
    color: #fff;
    display: block;
    width: 150px;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}
.view-doctor-schedule:hover{
    text-decoration: none;
    color: #fff;
}
.reservation-details {
    margin-bottom: 5px;
}
.reservation-header h2{
    font-size: 18px;
}
.about-section{
    margin-top: 100px;
}
.menu-links li{
    list-style: none;
}
.menu-links li a{
    color:#fff;
}
.col-sm-2.doctor-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #fab000;
    padding: 10px;
}
.doctor-image img {
    width: 100%;
    border-radius: 100%;
}
.reservation-details i{
    color: #fab000;
    margin-right: 7px;
}
.queue-screen{
    background-color: #333;
}
.blog-section {
    padding-top: 180px !important;
}
section.main-section-page {
    margin-top: 190px;
    margin-bottom: 20px;
}
/*end login home*/

/* Testimonial
================================================== */

.testimonial-slide .testimonial-thumb img{
    width: 152px;
    height: 152px;
    border: 5px solid rgba(0, 0, 0, .09);
}

.testimonial-slide .testimonial-content h3.name{
    font-size: 26px;
    color: #ffba00;
    font-weight: 400;
}

.testimonial-slide .testimonial-content h3 span{
    display: block;
    font-size: 16px;
    color: #636363;
}

.testimonial-slide .owl-buttons{
    display: none;
}

.testimonial-slide .testimonial-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 800px;
    padding-top: 20px;
    display: inline-block;
    position: relative;
    color: #636363;
}

.testimonial-slide .testimonial-text:before{
    content: '\f10d';
    font-family: FontAwesome;
    padding-right: 10px;
    color: #ffba00;
}
.testimonial-slide .testimonial-text:after{
    content: '\f10e';
    font-family: FontAwesome;
    padding-left: 10px;
    color: #ffba00;
}

.text-center {
    text-align: center;
}
h2.title {
    font-size: 24px;
    font-weight: 300;
    padding: 20px 15px 40px;
    position: relative;
    left: 0;
    line-height: normal;
}
h2.title:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid #cecece;
}
h2.title span {
    background: #fff;
    z-index: 1;
    padding: 10px 15px;
}
.dart-carousel-controller .left, .dart-carousel-controller .right, .owl-controls .owl-prev, .owl-controls .owl-next {
    cursor: pointer;
    background: #f6f6f6;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #989898;
    opacity: 1;
    top: auto;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
}
.customNavigation.dart-carousel-controller {
    text-align: center;
}
section#testimonial, #clients {
    margin-bottom: 20px;
}

/* Clients
================================================== */

#clients{
    padding: 40px 0;
}

.client-carousel .owl-wrapper-outer{
    background: #f2f2f2;
    border: 1px solid #d7d7d7;
    padding: 60px 0;
    border-radius: 2px;
    margin-bottom: 40px;
    position: initial !important
}
/*-- Portfolio page --*/

#portfolio-page div[class*='col-sm-'] {
    padding-left: 0px;
    padding-right: 0px;
}

#portfolio-page .col-sm-3 .image-thumb {
    height: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#portfolio-page .post-img-lg {
    margin-bottom: 60px;
}

.portfolio-overlay{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.75);
    color: #FFF;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.portfolio-overlay:hover{
    opacity: 1;
}

.portfolio-overlay-btn {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    color: #FFF;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-overlay-btn a{
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    margin: 0 6px;
    width: 48px;
    height: 48px;
    line-height: 44px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.portfolio-overlay-btn a:hover {
    background: #fff;
    color: #fab000;
}

.project-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
#isotope-filter {
    margin-bottom: 40px;
}
#isotope-filter a {
    color: #959595;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
#isotope-filter a.active, #isotope-filter a:hover {
    color: #fab000;
}
section#portfolio-page {
    margin-top: 30px;
}

/* Portfolio
================================================== */

#portfolio{
    padding: 0 0 40px;
}

#portfolio-carousel .thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    border: 0;
    border-radius: 0;
}

#portfolio-carousel .thumbnail .caption .caption-content{
    position: absolute;
    bottom: 25px;
}

#portfolio-carousel .thumbnail .caption i{
    border: 4px solid #FFFFFF;
    border-radius: 100%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 46px;
    line-height: 40px;
    position: relative;
    text-align: center;
    top: -40px;
    width: 46px;
    z-index: 8;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#portfolio-carousel .thumbnail .caption i.fa-link{
    margin-left: 10px;
}


#portfolio-carousel .caption {
    color: #fff;
    padding: 15px;
    position:absolute;
    top: -100%;
    right:0;
    background:rgba(250, 176, 0, 0.85);
    width:100%;
    height:100%;
    text-align:center;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#portfolio .thumbnail:hover .caption {
    top: 0%;

}

#portfolio-carousel .caption h3{
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}

#portfolio-carousel .caption p{
    text-align: left;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}
.dart-carousel-controller{
    text-align: center;
}
.panel-default{
    border-color: #cfcfcf;
}

.panel-default>.panel-heading{
    background: #f2f2f2;
    border-color: #cfcfcf;
}

.panel-heading{
    padding: 15px;
}

h4.panel-title{
    color: #989898;
    position: relative;
}

h4.panel-title a{
    color: #777;
    text-decoration: none;
}

h4.panel-title a:hover{
    color: #fab000;
    text-decoration: none;

}

h4.panel-title a.collapsed{
    color: #989898;
}

h4.panel-title a:after {
    content: "\f068";
    font-family: FontAwesome;
    background: #fab000;
    color: #fff;
    font-size: 14px;
    right: 20px;
    position: absolute;
    z-index: 111;
    width: 28px;
    height: 28px;
    line-height: 30px;
    top: -4px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    box-shadow: 0 0 0 5px rgba(0,0,0,.07);
}

h4.panel-title a.collapsed:after {
    content: "\f067";
    font-family: FontAwesome;
    background: #fab000;
    color: #fff;
    font-size: 14px;
    right: 20px;
    position: absolute;
    z-index: 111;
    width: 28px;
    height: 28px;
    line-height: 30px;
    top: -4px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    box-shadow: 0 0 0 5px rgba(0,0,0,.07);
}
.send-faq {
    display: inline-block;
    color: #fab000;
    font-weight: bold;
    font-size: 16px;
}
#portfolio .fa-chevron-left:before {
    content: "\f054";
}
#portfolio .fa-chevron-right:before {
    content: "\f053";
}
.blog-posts-img{
    height:350px;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog-posts-img img{
    width: 100%;
}
.view-doctor-schedule:hover{
    color:#fff;
    text-decoration: none;
}
.queue-screen:hover{
    color: #fff;
    text-decoration: none;
}
.registration-form label{
    display: block;
}
.registration-form input[type="password"] {
    line-height: 35px;
    border: 1px solid #dedede;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.registration-form input[type="submit"]{
    width: 100%;
    line-height: 35px;
}
.registration-form input#datepicker {
    position: relative;
}
.registration-form i.fa.fa-calendar.calendar-registration {
    position: absolute;
    right: 15px;
    bottom: 20px;
    padding: 0 0;
    background-color: #dedede;
    color: #7f7f7f;
}
.registration-form span.add-another-option-phone, span.add-another-option-address {
    margin-top: 35px;
}