<section class="services-page-section" style="margin-top: 100px;">
    <div class="container">
        <h2 class="registration-title">{{ lang.register }}</h2>

        <div class="row">
            <div class="col-sm-12">
                <p class="sucessful-register"><i class="fa fa-check-circle"></i> You have registered your account successfully, Thank you.</p>

            </div>
        </div>
    </div>
</section>
        <style>
            .sucessful-register i{
                color:#fab000;
            }
        </style>