<section class="services-page-section" style="margin-top: 100px;">
    <div class="container">
        <h2 class="registration-title">{{ lang.register }}</h2>

        <div class="row">

            <p>You have registered your account successfully, Thank you.</p>
        </div>
    </div>
</section>
